{% extends "base.html" %}
{% block title %}Abonadas para Despachar{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-light bg-dark p-3 rounded text-center">Requerimentos de Abonadas para Despachar</h2>

    <div class="table-responsive mt-4">
        <table class="table table-dark table-hover table-striped animate__animated animate__fadeIn">
            <thead class="thead-light">
                <tr class="text-center">
                    <th>Número</th>
                    <th>Data do Pedido</th>
                    <th>Requerente</th>
                    <th>Modalidade</th>
                    <th>Data da Abonada</th>
                    <th>Situação</th>
                </tr>
            </thead>
            <tbody>
                {% for abon in abon %}
                <tr class="align-middle text-center">
                    <td>{{ abon.num_registro }}/{{ abon.momento_inicio|date:'Y' }}</td>
                    <td>{{ abon.momento_inicio|date:'d/m/y H:i' }}</td>
                    <td>{{ abon.requerente }}</td>
                    <td>
                        <span class="badge {% if abon.eh_aniversario %}bg-success{% else %}bg-primary{% endif %}">
                            {{ abon.eh_aniversario|yesno:"Aniversário, Comum" }}
                        </span>
                    </td>
                    <td>{{ abon.data_abonada }}</td>
                    <td>
                        <a href="{% url 'despachar_abonada' abon.id %}" class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> {{ abon.get_situacao_display }}
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center text-warning fw-bold">Nenhuma abonada disponível para despacho.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
