{% extends "base.html" %}
{% block title %}Despachar Abonada{% endblock %}
{% block content %}
<p>Número: {{req.num_registro}}/{{req.momento_inicio|date:'Y'}}</p>
<p>Data do Pedido: {{req.momento_inicio}}</p>
<p>Requerente: {{req.requerente}}</p>
<p>Aniversário: {{req.eh_aniversario|yesno:"Sim, Não"}}</p>
<p>Data da Abonada: {{req.data_abonada}}</p>
<p>Situação: {{req.get_situacao_display}}</p>
<p>--------------------------------------------------</p>
<h3>Despacho:</h3>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <br>
    <button type="submit">Despachar</button>
</form>
{% endblock %}